.alben {
    position: relative;
}

.album {
    margin-bottom: $spacer*2;
}

.album__cover {

    .album > & {
        margin-bottom: $spacer;
        border-bottom: $spacer/2 solid transparent;
        [data-song-cat='opera'] & { border-bottom-color: $color-red; }
        [data-song-cat='concert'] & { border-bottom-color: $color-blue; }
        [data-song-cat='song'] & { border-bottom-color: $color-gold; }
        transform-origin: 30% 50%;
        transition: transform 400ms ease-out;

        .album:hover & {
            transform: perspective(600px) rotateY(-10deg);
        }
    }

    .overlay & {
        width: 200px;
    }
}

.album__image {
    width: 100%;
    margin-bottom: 0;
}

.album__title {
    font-size: 1rem;
}

.album__detail {
    display: none;
}
