.alben {
    position: relative;
}

.album {
    position: relative;
    margin-bottom: $spacer*2;
}

.album__cover {
    margin-bottom: $spacer;
    border-bottom: $spacer/2 solid transparent;
    [data-song-cat='opera'] & { border-bottom-color: $color-red; }
    [data-song-cat='concert'] & { border-bottom-color: $color-blue; }
    [data-song-cat='song'] & { border-bottom-color: $color-gold; }
    transform-origin: 30% 50%;
    transition: transform 400ms ease-out;

    .album:hover & {
        transform: perspective(600px) rotateY(-10deg);
    }
}

.album__image {
    width: 100%;
    margin-bottom: 0;
}

.album__title {
    font-size: 1rem;
}

.album__detail {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
