$breakpoint-large : 1200px !default;
$breakpoint-medium : 768px !default;

.gallery__grid-sizer,
.gallery__item {
    width: 48%; // 2 columns

    @media(min-width: $breakpoint-medium) {
        width: 30.6666666667%; // 3 columns
    }

    @media(min-width: $breakpoint-large) {
        width: 23.5%; // 4 columns
    }
}

.gallery__gutter-sizer {
    width: 4%;

    @media(min-width: $breakpoint-large) {
        width: 2%;
    }
}

.gallery__item {
    margin-bottom: $spacer;
}

.gallery__image {
    width: 100%;
    height: auto;
}
