// <div class="music-player">

//   <audio src="http://developer.mozilla.org/@api/deki/files/2926/=AudioTest_(1).ogg" controlls>
//     Your browser does not support the <code>audio</code> element.
//   </audio>

//   <div class="music-player__controlls">
//     <img class="controlls__cover" src="http://placehold.it/200x200" />

//     <div class="controlls__buttons">
//       <button class="controlls__prev"></button>
//       <button class="controlls__play"></button>
//       <button class="controlls__next"></button>
//     </div>

//     <div class="controlls__timeline">
//       <span class="timeline__start">0:00</span>
//       <span class="timeline__end">5:45</span>
//     </div>
//   </div>
// </div>




.music-player {
    bottom: 0;
    left: 0;

    background-color: $color-blue;
}

.music-player,
.music-player__controlls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.music-player__controlls {
    justify-content: space-around;
}

.controlls__cover {
    height: 4rem;
}

.controlls__buttons {
    button {
        width: 2rem;
        height: 2rem;
        background-color: red;
        cursor: pointer;
    }
}

.controlls__timeline {
    border-top: 1px solid $color-black;
    min-width: 400px;
    font-size: 0.6rem;
    display: flex;
    justify-content: space-between;
}
