.navigation-list__item {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1em;
    text-overflow: hidden;
    animation-name: navigation-to-hamburger;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    // animation: navigation-to-hamburger 5s infinite;
}


@keyframes navigation-to-hamburger {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}
