$timing: 1s !default;

.navigation {
    transform-origin: 0 0;
    z-index: 100000;
}

.navigation-list__item {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1em;
    text-overflow: hidden;

    // .navigation--fixed & {
    //     transform: initial !important;
    // }
}

.navigation--fixed {
    position: fixed;
    top: $spacer;
    right: $spacer;
    transform: scale(1) !important;
    width: auto !important;
}
