.news {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + #{$spacer});
}

.news__item {
    width: 20%;
    max-width: 30%;
    flex-shrink: 1;
    flex-grow: 1;
    will-change: transform;
    margin-right: $spacer;
    margin-bottom: $spacer * 2;
}

.news__caption {
    margin-top: $spacer;
}

