.text-news__headline {
    font-weight: 700;
    font-size: 2.4rem; // 48px

    &::after {
        content: '';
        position: relative;
        bottom: 0;
        right: 0;
        width: 30%;
        height: 1px;
        background-color: $color-red;
    }
}

.text-news__text {
    line-height: 1.2rem; // 24px;
}

.text-news__link {
    font-style: italic;
    margin-top: $spacer;
    text-align: right;
    color: $color-red;

    &::before {
        content: '—';
        display: inline;
        padding-right: $spacer / 2;
    }
}
