.news__image {
    width: 100%;
}


.news {
    // column-width: 300px;
    // column-gap: $spacer;
    display: flex;
    // flex-wrap: wrap;
    width: 100%;
}

.news__item {
    width: 30%;
    flex-shrink: 1;
    flex-grow: 1;
    margin-left: $spacer;
    // break-inside: avoid;
}

.navigation {
    flex-shrink: 1;
    flex-grow: 1;
}
