$border-size: 8px !default;
$space-around: 2rem !default;
$breakpoint-s: 500px !default;
$breakpoint-m: 765px !default;
$breakpoint-l: 1000px !default;
$breakpoint-xl: 1400px !default;

$spacer: 1rem !default;
$point-size: 1rem;

$color-black: rgba(030, 030, 030, 100) !default;
$color-red: rgba(200, 011, 076, 100) !default;
$color-gold: rgba(191, 170, 113, 100) !default;
$color-blue: rgba(093, 142, 189, 100) !default;

%repertoire-category-point {
  @media (min-width: $breakpoint-l) {
    &::before {
      border-radius: 50%;
      content: '';
      display: block;
      height: $point-size;
      left: 1.6rem;
      position: absolute;
      top: 3.5rem;
      width: $point-size;
    }
  }

  &[data-rep-cat='opera'] {
    &::before { background-color: $color-red; }
    &:hover {
      border-color: $color-red;
    }
  }
  &[data-rep-cat='concert'] {
    &::before { background-color: $color-blue; }
    &:hover {
      border-color: $color-blue;
    }
  }
  &[data-rep-cat='song'] {
    &::before { background-color: $color-gold; }
    &:hover {
      border-color: $color-gold;
    }
  }
}

.repertoire {
  margin: 3em auto;
  width: 80%;
  border: 1px solid red;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  .swiper-slide {
    opacity: 0.5;
    &.swiper-slide-active {
      opacity: 1;
    }
  }
}

nav.swiper-container {
  display: none;
  width: 100%;
  @media (min-width: $breakpoint-s) {
    display: block;
  }
  .swiper-slide {
    opacity: 0.4;
    width: 25%;
  }
  .swiper-slide-active {
    opacity: 1;
  }
}

.works {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: calc(100% - 3px);
  border: 1px solid blue;
}

.repertoire__work {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  @extend %repertoire-category-point;
  @media (min-width: $breakpoint-s) {
    padding: $space-around/2;
    width: calc(50% - #{$space-around} * 2 - #{$border-size} * 2);
  }
  @media (min-width: $breakpoint-l) {
    width: calc(#{100%/3} - #{$space-around} * 2 - #{$border-size} * 2);
    padding: $space-around;
    border: $border-size solid transparent;
    &:hover {
      border-color: $color-black;
    }
  }
}

.repertoire__title {
  font-size: 1.5rem;
  // font-size: 2.2rem;
  line-height: 0.9em;
  font-weight: bold;
  text-transform: lowercase;
}

.repertoire__description {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 0.5em;
}

.repertoire__role,
.repertoire__text {
  width: 50%;
  line-height: 1rem;
}

.repertoire__role {
  font-size: 1rem;
  font-weight: bold;
  i {
    padding-left: 0.8em;
    font-size: 0.7rem;
    font-weight: normal;
    font-style: italic;
  }
}

.repertoire__text {
  display: none;
  font-size: 0.7rem;
  text-align: right;
  @media (min-width: $breakpoint-m) {
    display: block;
  }
}

.repertoire__controlls {
  display: none;
}
