<footer class="footer">

  <section class="footer__inner grid" data-grid>
    <div class="grid_item" data-grid="4/12">
      <img src="http://localhost:8080/wp-content/uploads/2017/06/Robert-Holzer-4.jpg" class="full--width" />
    </div>

    <div class="grid__item" data-grid="8/12">
      <h3>Robert Holzer</h3>
      <p>
        WebDesign und Umsetzung:<br>
        Typeflow e.U.<br>
        Lukas Holzer<br>
        Sandgasse 16/3<br>
        A–4020 Linz<br>
        <br>
        <a href="http://www.typeflow.cc/">www.typeflow.cc</a>
        <br>
        Verantwortlich für den Inhalt:<br>
        Robert Holzer<br>
      </p>
    </div>
  </section>

</footer>
