<!-- section #Gallerie -->
{% set actual = '' %}
<section class="section">

  <div class="gallery" data-filter='{"holder":".gallery__content", "item":".gallery__item"}'>

    <nav class="sidenav">
      <ul class="sidenav-list">
        {% for item in menu %}

          {% if loop.index0 == 0 %}
            {% set actual = item.slug %}
          {% endif %}

          <li class="sidenav-list__item {% if loop.index0 == 0%}is-active{% endif %}" data-filter-nav="{{item.slug}}">{{item.name}}</li>
        {% endfor %}
        <li class="sidenav-list__item"><a href="">download</a></li>
      </ul>
    </nav>

    <article class="gallery__content">
    {% for post in gallery %}

      {% for image in post.get_field('images') %}
        {% include 'components/gallery-item.twig' %}
      {% endfor %}

    {% endfor %}
    </article>

  </div>

</section>
