<!-- section #Gallerie -->
{% set actual = '' %}
<section class="section">

  <div class="gallery" data-filter='{"holder":".gallery__content", "item":".gallery__item", "column": ".gallery__grid-sizer", "gutter": ".gallery__gutter-sizer"}'>

    <nav class="sidenav">
      <ul class="sidenav-list">
        <li class="sidenav-list__item is-active" data-filter-nav="*">Alle</li>
        {% for item in menu %}
        <li class="sidenav-list__item" data-filter-nav="{{item.slug}}">{{item.name}}</li>
        {% endfor %}
        <li class="sidenav-list__item">download</li>
      </ul>
    </nav>

    <article class="gallery__content">
      <div class="gallery__grid-sizer"></div>
      <div class="gallery__gutter-sizer"></div>

      {% for post in gallery %}

        {% for image in post.get_field('images') %}
          {% include 'components/gallery-item.twig' %}
        {% endfor %}

      {% endfor %}
    </article>

  </div>

</section>
