<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <symbol viewBox="0 0 32 32" id="amazon">
    <title>amazon</title>
    <path d="M28.925 27.663c-3.506 2.587-8.581 3.962-12.956 3.962-6.131 0-11.65-2.262-15.825-6.038-.325-.294-.038-.7.356-.469 4.506 2.625 10.081 4.2 15.838 4.2 3.881 0 8.15-.806 12.081-2.475.587-.25 1.087.394.506.819z"
    />
    <path d="M30.381 26c-.45-.575-2.962-.275-4.094-.137-.344.038-.394-.256-.087-.475 2.006-1.406 5.294-1 5.675-.531.387.475-.1 3.769-1.981 5.344-.288.244-.563.113-.438-.206.431-1.056 1.375-3.419.925-3.994zM22.106 23.675l.006.006c.775-.681 2.169-1.9 2.956-2.556.313-.25.256-.669.012-1.019-.706-.975-1.456-1.769-1.456-3.569v-6c0-2.544.175-4.875-1.694-6.625-1.475-1.413-3.925-1.913-5.8-1.913-3.662 0-7.75 1.369-8.606 5.894-.094.481.263.738.575.806l3.731.406c.35-.019.6-.363.669-.713.319-1.556 1.625-2.313 3.094-2.313.794 0 1.694.287 2.163 1 .538.794.469 1.875.469 2.794v.5c-2.231.25-5.15.412-7.238 1.331-2.412 1.044-4.106 3.169-4.106 6.294 0 4 2.519 6 5.763 6 2.738 0 4.231-.644 6.344-2.806.7 1.012.925 1.506 2.206 2.569.294.156.656.144.913-.087zm-3.881-9.388c0 1.5.038 2.75-.719 4.081-.613 1.087-1.581 1.75-2.662 1.75-1.475 0-2.338-1.125-2.338-2.788 0-3.281 2.944-3.875 5.725-3.875v.831z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="beamed-note">
    <title>beamed-note</title>
    <path d="M17 1l-.002 13c0 1.243-1.301 3-3.748 3-1.243 0-2.25-.653-2.25-1.875 0-1.589 1.445-2.55 3-2.55.432 0 .754.059 1 .123V5.364L8 6.637V16h-.002c0 1.243-1.301 3-3.748 3C3.007 19 2 18.347 2 17.125c0-1.589 1.445-2.55 3-2.55.432 0 .754.059 1 .123V3l11-2z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="bell">
    <title>bell</title>
    <path d="M14.65 8.512c-2.28-4.907-3.466-6.771-7.191-6.693-1.327.027-1.009-.962-2.021-.587-1.01.375-.143.924-1.177 1.773-2.902 2.383-2.635 4.587-1.289 9.84.567 2.213-1.367 2.321-.602 4.465.559 1.564 4.679 2.219 9.025.607s7.086-4.814 6.527-6.378c-.765-2.145-2.311-.961-3.272-3.027zm-3.726 8.083c-3.882 1.44-7.072.594-7.207.217-.232-.65 1.253-2.816 5.691-4.463s6.915-1.036 7.174-.311c.153.429-1.775 3.116-5.658 4.557zm-1.248-3.494c-2.029.753-3.439 1.614-4.353 2.389.643.584 1.847.726 3.046.281 1.527-.565 2.466-1.866 2.095-2.904l-.016-.036c-.251.082-.508.171-.772.27z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="block">
    <title>block</title>
    <path d="M10 .4C4.697.4.399 4.698.399 10A9.6 9.6 0 0 0 10 19.601c5.301 0 9.6-4.298 9.6-9.601S15.301.4 10 .4zM2.399 10a7.6 7.6 0 0 1 12.417-5.877L4.122 14.817A7.568 7.568 0 0 1 2.399 10zm7.6 7.599a7.56 7.56 0 0 1-4.815-1.722L15.878 5.184a7.6 7.6 0 0 1-5.879 12.415z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="chevron-down">
    <title>chevron-down</title>
    <path d="M4.516 7.548c.436-.446 1.043-.481 1.576 0L10 11.295l3.908-3.747c.533-.481 1.141-.446 1.574 0 .436.445.408 1.197 0 1.615-.406.418-4.695 4.502-4.695 4.502a1.095 1.095 0 0 1-1.576 0S4.924 9.581 4.516 9.163s-.436-1.17 0-1.615z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="chevron-left">
    <title>chevron-left</title>
    <path d="M12.452 4.516c.446.436.481 1.043 0 1.576L8.705 10l3.747 3.908c.481.533.446 1.141 0 1.574-.445.436-1.197.408-1.615 0-.418-.406-4.502-4.695-4.502-4.695a1.095 1.095 0 0 1 0-1.576s4.084-4.287 4.502-4.695 1.17-.436 1.615 0z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="chevron-right">
    <title>chevron-right</title>
    <path d="M9.163 4.516c.418.408 4.502 4.695 4.502 4.695a1.095 1.095 0 0 1 0 1.576s-4.084 4.289-4.502 4.695c-.418.408-1.17.436-1.615 0-.446-.434-.481-1.041 0-1.574L11.295 10 7.548 6.092c-.481-.533-.446-1.141 0-1.576s1.197-.409 1.615 0z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="chevron-small-down">
    <title>chevron-small-down</title>
    <path d="M13.418 7.859c.271-.268.709-.268.978 0s.272.701 0 .969l-3.908 3.83a.697.697 0 0 1-.979 0l-3.908-3.83c-.27-.267-.27-.701 0-.969s.709-.268.978 0L10 11l3.418-3.141z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="chevron-small-left">
    <title>chevron-small-left</title>
    <path d="M12.141 13.418c.268.271.268.709 0 .978s-.701.272-.969 0l-3.83-3.908a.697.697 0 0 1 0-.979l3.83-3.908c.267-.27.701-.27.969 0s.268.709 0 .978L9 10l3.141 3.418z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="chevron-small-right">
    <title>chevron-small-right</title>
    <path d="M11 10L7.859 6.58a.695.695 0 0 1 0-.978.68.68 0 0 1 .969 0l3.83 3.908a.697.697 0 0 1 0 .979l-3.83 3.908c-.267.272-.701.27-.969 0s-.268-.707 0-.978L11 10z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="chevron-small-up">
    <title>chevron-small-up</title>
    <path d="M6.582 12.141c-.271.268-.709.268-.978 0s-.272-.701 0-.969l3.908-3.83a.697.697 0 0 1 .979 0l3.908 3.83c.27.267.27.701 0 .969s-.709.268-.979 0L10 9l-3.418 3.141z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="chevron-thin-down">
    <title>chevron-thin-down</title>
    <path d="M17.418 6.109c.272-.268.709-.268.979 0s.271.701 0 .969l-7.908 7.83a.697.697 0 0 1-.979 0l-7.908-7.83c-.27-.268-.27-.701 0-.969s.709-.268.979 0L10 13.25l7.418-7.141z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="chevron-thin-left">
    <title>chevron-thin-left</title>
    <path d="M13.891 17.418c.268.272.268.709 0 .979s-.701.271-.969 0l-7.83-7.908a.697.697 0 0 1 0-.979l7.83-7.908c.268-.27.701-.27.969 0s.268.709 0 .979L6.75 10l7.141 7.418z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="chevron-thin-right">
    <title>chevron-thin-right</title>
    <path d="M13.25 10L6.109 2.58a.697.697 0 0 1 0-.979.68.68 0 0 1 .969 0l7.83 7.908a.697.697 0 0 1 0 .979l-7.83 7.908c-.268.271-.701.27-.969 0s-.268-.707 0-.979L13.25 10z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="chevron-thin-up">
    <title>chevron-thin-up</title>
    <path d="M2.582 13.891c-.272.268-.709.268-.979 0s-.271-.701 0-.969l7.908-7.83a.697.697 0 0 1 .979 0l7.908 7.83c.27.268.27.701 0 .969s-.709.268-.978 0L10 6.75l-7.418 7.141z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="chevron-up">
    <title>chevron-up</title>
    <path d="M15.484 12.452c-.436.446-1.043.481-1.576 0L10 8.705l-3.908 3.747c-.533.481-1.141.446-1.574 0-.436-.445-.408-1.197 0-1.615.406-.418 4.695-4.502 4.695-4.502a1.095 1.095 0 0 1 1.576 0s4.287 4.084 4.695 4.502.436 1.17 0 1.615z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="circle-with-cross">
    <title>circle-with-cross</title>
    <path d="M10 1.6a8.4 8.4 0 1 0 0 16.8 8.4 8.4 0 0 0 0-16.8zm4.789 11.461L13.06 14.79 10 11.729l-3.061 3.06L5.21 13.06 8.272 10 5.211 6.939 6.94 5.211 10 8.271l3.061-3.061 1.729 1.729L11.728 10l3.061 3.061z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="circle-with-minus">
    <title>circle-with-minus</title>
    <path d="M10 1.6a8.4 8.4 0 1 0 0 16.8 8.4 8.4 0 0 0 0-16.8zm5 9.4H5V9h10v2z" />
  </symbol>
  <symbol viewBox="0 0 20 20" id="circle-with-plus">
    <title>circle-with-plus</title>
    <path d="M10 1.6a8.4 8.4 0 1 0 0 16.8 8.4 8.4 0 0 0 0-16.8zm5 9.4h-4v4H9v-4H5V9h4V5h2v4h4v2z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="code">
    <title>code</title>
    <path d="M5.719 14.75a.997.997 0 0 1-.664-.252L-.005 10l5.341-4.748a1 1 0 0 1 1.328 1.495L3.005 10l3.378 3.002a1 1 0 0 1-.664 1.748zm8.945-.002L20.005 10l-5.06-4.498a.999.999 0 1 0-1.328 1.495L16.995 10l-3.659 3.252a1 1 0 0 0 1.328 1.496zm-4.678 1.417l2-12a1 1 0 1 0-1.972-.329l-2 12a1 1 0 1 0 1.972.329z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="controller-fast-forward">
    <title>controller-fast-forward</title>
    <path d="M9.244 9.52L2.041 4.571C1.469 4.188 1 4.469 1 5.196v9.609c0 .725.469 1.006 1.041.625l7.203-4.951s.279-.199.279-.478-.279-.481-.279-.481zm9.356.481c0 .279-.279.478-.279.478l-7.203 4.951c-.572.381-1.041.1-1.041-.625V5.196c0-.727.469-1.008 1.041-.625L18.32 9.52s.28.201.28.481z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="controller-jump-to-start">
    <title>controller-jump-to-start</title>
    <path d="M14.959 4.571L7.756 9.52s-.279.201-.279.481.279.479.279.479l7.203 4.951c.572.38 1.041.099 1.041-.626V5.196c0-.727-.469-1.008-1.041-.625zM6 4H5c-.553 0-1 .048-1 .6v10.8c0 .552.447.6 1 .6h1c.553 0 1-.048 1-.6V4.6c0-.552-.447-.6-1-.6z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="controller-next">
    <title>controller-next</title>
    <path d="M12.244 9.52L5.041 4.571C4.469 4.188 4 4.469 4 5.196v9.609c0 .725.469 1.006 1.041.625l7.203-4.951s.279-.199.279-.478-.279-.481-.279-.481zM14 4h1c.553 0 1 .048 1 .6v10.8c0 .552-.447.6-1 .6h-1c-.553 0-1-.048-1-.6V4.6c0-.552.447-.6 1-.6z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="controller-paus">
    <title>controller-paus</title>
    <path d="M15 3h-2c-.553 0-1 .048-1 .6v12.8c0 .552.447.6 1 .6h2c.553 0 1-.048 1-.6V3.6c0-.552-.447-.6-1-.6zM7 3H5c-.553 0-1 .048-1 .6v12.8c0 .552.447.6 1 .6h2c.553 0 1-.048 1-.6V3.6c0-.552-.447-.6-1-.6z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="controller-play">
    <title>controller-play</title>
    <path d="M15 10.001c0 .299-.305.514-.305.514l-8.561 5.303C5.51 16.227 5 15.924 5 15.149V4.852c0-.777.51-1.078 1.135-.67l8.561 5.305c-.001 0 .304.215.304.514z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="controller-stop">
    <title>controller-stop</title>
    <path d="M16 4.995v9.808c0 .661-.536 1.197-1.196 1.197H4.997A.997.997 0 0 1 4 15.003V5.196C4 4.536 4.536 4 5.196 4h9.808c.55 0 .996.446.996.995z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="eye">
    <title>eye</title>
    <path d="M10 4.4C3.439 4.4 0 9.232 0 10c0 .766 3.439 5.6 10 5.6s10-4.834 10-5.6c0-.768-3.44-5.6-10-5.6zm0 9.907c-2.455 0-4.445-1.928-4.445-4.307S7.545 5.691 10 5.691s4.444 1.93 4.444 4.309-1.989 4.307-4.444 4.307zM10 10c-.407-.447.663-2.154 0-2.154-1.228 0-2.223.965-2.223 2.154s.995 2.154 2.223 2.154c1.227 0 2.223-.965 2.223-2.154 0-.547-1.877.379-2.223 0z"
    />
  </symbol>
  <symbol viewBox="0 0 32 32" id="facebook">
    <title>facebook</title>
    <path d="M19 6h5V0h-5c-3.86 0-7 3.14-7 7v3H8v6h4v16h6V16h5l1-6h-6V7c0-.542.458-1 1-1z" />
  </symbol>
  <symbol viewBox="0 0 32 32" id="facebook2">
    <title>facebook2</title>
    <path d="M29 0H3C1.35 0 0 1.35 0 3v26c0 1.65 1.35 3 3 3h13V18h-4v-4h4v-2c0-3.306 2.694-6 6-6h4v4h-4c-1.1 0-2 .9-2 2v2h6l-1 4h-5v14h9c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z"
    />
  </symbol>
  <symbol viewBox="0 0 32 32" id="git">
    <title>git</title>
    <path d="M31.397 14.575L17.425.604a2.061 2.061 0 0 0-2.915 0L11.264 3.85l2.443 2.443a3 3 0 0 1 4 4l3.999 3.999a3 3 0 1 1-1.414 1.414l-3.999-3.999a2.776 2.776 0 0 1-.293.121v8.343a3 3 0 1 1-2 0v-8.343a3 3 0 0 1-1.707-4.122L9.85 5.263.603 14.509a2.061 2.061 0 0 0 0 2.915l13.973 13.971a2.061 2.061 0 0 0 2.915 0l13.906-13.906a2.061 2.061 0 0 0 0-2.915z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="globe">
    <title>globe</title>
    <path d="M10 .4C4.705.4.399 4.707.399 10S4.705 19.6 10 19.6c5.293 0 9.6-4.307 9.6-9.6S15.293.4 10 .4zm8.188 9.6c0 1.873-.636 3.6-1.696 4.98-.3-.234-.619-.867-.319-1.523.303-.66.382-2.188.312-2.783-.066-.594-.375-2.025-1.214-2.039-.838-.012-1.413-.289-1.911-1.283-1.033-2.068 1.939-2.465.906-3.609-.289-.322-1.783 1.322-2.002-.869-.014-.157.135-.392.336-.636 3.244 1.09 5.588 4.157 5.588 7.762zM8.875 1.893c-.196.382-.713.537-1.027.824-.684.619-.978.533-1.346 1.127-.371.594-1.567 1.449-1.567 1.879s.604.936.906.838c.302-.1 1.099-.094 1.567.07.469.166 3.914.332 2.816 3.244-.348.926-1.873.77-2.279 2.303-.061.225-.272 1.186-.285 1.5-.025.486.344 2.318-.125 2.318-.471 0-1.738-1.639-1.738-1.936s-.328-1.338-.328-2.23c0-.891-1.518-.877-1.518-2.062 0-1.068.823-1.6.638-2.113-.181-.51-1.627-.527-2.23-.59a8.213 8.213 0 0 1 6.516-5.172zM7.424 17.77c.492-.26.542-.596.988-.613.51-.023.925-.199 1.5-.326.51-.111 1.423-.629 2.226-.695.678-.055 2.015.035 2.375.689a8.159 8.159 0 0 1-7.089.945z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="heart">
    <title>heart</title>
    <path d="M17.19 4.155c-1.672-1.534-4.383-1.534-6.055 0L10 5.197 8.864 4.155c-1.672-1.534-4.382-1.534-6.054 0-1.881 1.727-1.881 4.52 0 6.246L10 17l7.19-6.599c1.88-1.726 1.88-4.52 0-6.246z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="heart-outlined">
    <title>heart-outlined</title>
    <path d="M17.19 4.156c-1.672-1.535-4.383-1.535-6.055 0L10 5.197 8.864 4.156c-1.672-1.535-4.382-1.535-6.054 0-1.881 1.726-1.881 4.519 0 6.245L10 17l7.19-6.599c1.88-1.726 1.88-4.52 0-6.245zm-1.066 5.219L10 15.09 3.875 9.375c-.617-.567-.856-1.307-.856-2.094s.138-1.433.756-1.999c.545-.501 1.278-.777 2.063-.777s1.517.476 2.062.978L10 7.308l2.099-1.826c.546-.502 1.278-.978 2.063-.978s1.518.276 2.063.777c.618.566.755 1.212.755 1.999s-.238 1.528-.856 2.095z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="link">
    <title>link</title>
    <path d="M7.859 14.691l-.81.805a1.814 1.814 0 0 1-2.545 0 1.762 1.762 0 0 1 0-2.504l2.98-2.955c.617-.613 1.779-1.515 2.626-.675a.992.992 0 1 0 1.397-1.407c-1.438-1.428-3.566-1.164-5.419.675l-2.98 2.956A3.719 3.719 0 0 0 2 14.244a3.72 3.72 0 0 0 1.108 2.658c.736.73 1.702 1.096 2.669 1.096s1.934-.365 2.669-1.096l.811-.805c.389-.385.391-1.012.005-1.4s-1.014-.39-1.403-.006zm9.032-11.484c-1.547-1.534-3.709-1.617-5.139-.197l-1.009 1.002a.99.99 0 1 0 1.396 1.406l1.01-1.001c.74-.736 1.711-.431 2.346.197.336.335.522.779.522 1.252s-.186.917-.522 1.251l-3.18 3.154c-1.454 1.441-2.136.766-2.427.477a.99.99 0 1 0-1.396 1.406c.668.662 1.43.99 2.228.99.977 0 2.01-.492 2.993-1.467l3.18-3.153C17.605 7.814 18 6.87 18 5.866s-.395-1.949-1.109-2.659z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="location">
    <title>location</title>
    <path d="M19.367 18.102L18 14h-1.5l.833 4H2.667l.833-4H2L.632 18.102C.285 19.146.9 20 2 20h16c1.1 0 1.715-.854 1.367-1.898zM15 5A5 5 0 1 0 5 5c0 4.775 5 10 5 10s5-5.225 5-10zm-7.7.06c0-1.491 1.208-2.699 2.7-2.699a2.699 2.699 0 1 1 0 5.399 2.7 2.7 0 0 1-2.7-2.7z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="mail">
    <title>mail</title>
    <path d="M1.574 5.286l7.5 4.029c.252.135.578.199.906.199.328 0 .654-.064.906-.199l7.5-4.029c.489-.263.951-1.286.054-1.286H1.521c-.897 0-.435 1.023.053 1.286zm17.039 2.203l-7.727 4.027c-.34.178-.578.199-.906.199s-.566-.021-.906-.199-7.133-3.739-7.688-4.028C.996 7.284 1 7.523 1 7.707V15c0 .42.566 1 1 1h16c.434 0 1-.58 1-1V7.708c0-.184.004-.423-.387-.219z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="map">
    <title>map</title>
    <path d="M19.447 3.718l-6-3a1 1 0 0 0-.895 0l-5.63 2.815-5.606-1.869A1 1 0 0 0 0 2.613v13.001c0 .379.214.725.553.894l6 3a1.006 1.006 0 0 0 .894 0l5.63-2.814 5.606 1.869a.999.999 0 0 0 1.316-.949V4.612a.996.996 0 0 0-.552-.894zM8 5.231l4-2v11.763l-4 2V5.231zM2 4l4 1.333v11.661l-4-2V4zm16 12.227l-4-1.334V3.231l4 2v10.996z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="minus">
    <title>minus</title>
    <path d="M16 10c0 .553-.048 1-.601 1H4.601C4.049 11 4 10.553 4 10s.049-1 .601-1H15.4c.552 0 .6.447.6 1z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="old-mobile">
    <title>old-mobile</title>
    <path d="M13.6 3H7V0H5v18.6c0 .77.629 1.4 1.398 1.4H13.6c.769 0 1.4-.631 1.4-1.4V4.401C15 3.629 14.369 3 13.6 3zM8 15c-.691 0-1.25-.447-1.25-1s.559-1 1.25-1 1.25.447 1.25 1-.559 1-1.25 1zm1.25 2c0 .553-.559 1-1.25 1s-1.25-.447-1.25-1 .559-1 1.25-1 1.25.447 1.25 1zM7 11V5h6v6H7zm5 4c-.691 0-1.25-.447-1.25-1s.559-1 1.25-1 1.25.447 1.25 1-.559 1-1.25 1zm1.25 2c0 .553-.559 1-1.25 1s-1.25-.447-1.25-1 .559-1 1.25-1 1.25.447 1.25 1z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="plus">
    <title>plus</title>
    <path d="M16 10c0 .553-.048 1-.601 1H11v4.399c0 .552-.447.601-1 .601s-1-.049-1-.601V11H4.601C4.049 11 4 10.553 4 10s.049-1 .601-1H9V4.601C9 4.048 9.447 4 10 4s1 .048 1 .601V9h4.399c.553 0 .601.447.601 1z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="quote">
    <title>quote</title>
    <path d="M5.315 3.401c-1.61 0-2.916 1.343-2.916 3s1.306 3 2.916 3c2.915 0 .972 5.799-2.916 5.799v1.4c6.939.001 9.658-13.199 2.916-13.199zm8.4 0c-1.609 0-2.915 1.343-2.915 3s1.306 3 2.915 3c2.916 0 .973 5.799-2.915 5.799v1.4c6.938.001 9.657-13.199 2.915-13.199z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="shuffle">
    <title>shuffle</title>
    <path d="M15.093 6.694h.92v2.862L20 5.532l-3.988-4.025v2.387h-.92c-3.694 0-5.776 2.738-7.614 5.152-1.652 2.172-3.08 4.049-5.386 4.049H0v2.799h2.093c3.694 0 5.776-2.736 7.614-5.152 1.652-2.173 3.08-4.048 5.386-4.048zM5.41 8.458c.158-.203.316-.412.477-.623a47.33 47.33 0 0 1 1.252-1.596C5.817 5.005 4.224 4.095 2.093 4.095H0v2.799h2.093c1.327 0 2.362.623 3.317 1.564zm10.602 4.836h-.92c-1.407 0-2.487-.701-3.491-1.738l-.303.397c-.441.58-.915 1.201-1.439 1.818 1.356 1.324 3 2.324 5.232 2.324h.92v2.398L20 14.468l-3.988-4.025v2.851z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="sound">
    <title>sound</title>
    <path d="M5.312 4.566C4.19 5.685-.715 12.681 3.523 16.918c4.236 4.238 11.23-.668 12.354-1.789 1.121-1.119-.335-4.395-3.252-7.312-2.919-2.919-6.191-4.376-7.313-3.251zm9.264 9.59c-.332.328-2.895-.457-5.364-2.928-2.467-2.469-3.256-5.033-2.924-5.363.328-.332 2.894.457 5.36 2.926 2.471 2.467 3.258 5.033 2.928 5.365zm.858-8.174l1.904-1.906a.999.999 0 1 0-1.414-1.414L14.02 4.568a.999.999 0 1 0 1.414 1.414zM11.124 3.8a1 1 0 0 0 1.36-.388l1.087-1.926a1 1 0 0 0-1.748-.972L10.736 2.44a1 1 0 0 0 .388 1.36zm8.748 3.016a.999.999 0 0 0-1.36-.388l-1.94 1.061a1 1 0 1 0 .972 1.748l1.94-1.061a1 1 0 0 0 .388-1.36z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="sound-mute">
    <title>sound-mute</title>
    <path d="M14.201 9.194c1.389 1.883 1.818 3.517 1.559 3.777-.26.258-1.893-.17-3.778-1.559l-5.526 5.527c4.186 1.838 9.627-2.018 10.605-2.996.925-.922.097-3.309-1.856-5.754l-1.004 1.005zM8.667 7.941c-1.099-1.658-1.431-3.023-1.194-3.26.233-.234 1.6.096 3.257 1.197l1.023-1.025C9.489 3.179 7.358 2.519 6.496 3.384c-.928.926-4.448 5.877-3.231 9.957l5.402-5.4zm9.854-6.463a.999.999 0 0 0-1.414 0L1.478 17.108a.999.999 0 1 0 1.414 1.414l15.629-15.63a.999.999 0 0 0 0-1.414z"
    />
  </symbol>
  <symbol viewBox="0 0 32 32" id="spotify">
    <title>spotify</title>
    <path d="M16 0C7.2 0 0 7.2 0 16s7.2 16 16 16 16-7.2 16-16S24.881 0 16 0zm7.363 23.119c-.319.481-.881.637-1.363.319-3.762-2.319-8.481-2.8-14.081-1.519-.563.163-1.037-.238-1.2-.719-.162-.563.237-1.038.719-1.2 6.081-1.363 11.363-.8 15.519 1.762.563.238.644.875.406 1.356zm1.918-4.4c-.4.563-1.119.8-1.681.4-4.319-2.637-10.881-3.438-15.919-1.837-.638.163-1.362-.163-1.519-.8-.162-.637.162-1.363.8-1.519 5.838-1.762 13.037-.881 18 2.163.475.238.719 1.038.319 1.594zm.157-4.481c-5.119-3.037-13.681-3.363-18.563-1.838-.8.238-1.6-.238-1.838-.963-.237-.8.237-1.6.963-1.838 5.681-1.681 15.038-1.363 20.962 2.162.719.4.962 1.363.563 2.081-.406.556-1.363.794-2.087.394z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="star">
    <title>star</title>
    <path d="M10 1.3l2.388 6.722H18.8l-5.232 3.948 1.871 6.928L10 14.744l-5.438 4.154 1.87-6.928-5.233-3.948h6.412L10 1.3z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="star-outlined">
    <title>star-outlined</title>
    <path d="M18.8 8.022h-6.413L10 1.3 7.611 8.022H1.199l5.232 3.947-1.871 6.929L10 14.744l5.438 4.154-1.869-6.929L18.8 8.022zM10 12.783l-3.014 2.5 1.243-3.562-2.851-2.3 3.522.101 1.1-4.04 1.099 4.04 3.521-.101-2.851 2.3 1.243 3.562-3.012-2.5z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="thumbs-down">
    <title>thumbs-down</title>
    <path d="M6.352 12.638c.133.356-3.539 3.634-1.397 6.291.501.621 2.201-2.975 4.615-4.602 1.331-.899 4.43-2.811 4.43-3.868V3.617C14 2.346 9.086 1 5.352 1 3.983 1 2 9.576 2 10.939c0 1.367 4.221 1.343 4.352 1.699zM15 12.543c.658 0 3-.4 3-3.123V4.572c0-2.721-2.342-3.021-3-3.021-.657 0 1 .572 1 2.26v6.373c0 1.768-1.657 2.359-1 2.359z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="thumbs-up">
    <title>thumbs-up</title>
    <path d="M13.648 7.362c-.133-.355 3.539-3.634 1.398-6.291-.501-.621-2.201 2.975-4.615 4.603C9.099 6.572 6 8.484 6 9.541v6.842C6 17.654 10.914 19 14.648 19 16.017 19 18 10.424 18 9.062c0-1.368-4.221-1.344-4.352-1.7zM5 7.457c-.658 0-3 .4-3 3.123v4.848c0 2.721 2.342 3.021 3 3.021.657 0-1-.572-1-2.26V9.816c0-1.768 1.657-2.359 1-2.359z"
    />
  </symbol>
  <symbol viewBox="0 0 20 20" id="upload">
    <title>upload</title>
    <path d="M8 12h4V6h3l-5-5-5 5h3v6zm11.338 1.532c-.21-.224-1.611-1.723-2.011-2.114A1.503 1.503 0 0 0 16.285 11h-1.757l3.064 2.994h-3.544a.274.274 0 0 0-.24.133L12.992 16H7.008l-.816-1.873a.276.276 0 0 0-.24-.133H2.408L5.471 11H3.715c-.397 0-.776.159-1.042.418-.4.392-1.801 1.891-2.011 2.114-.489.521-.758.936-.63 1.449l.561 3.074c.128.514.691.936 1.252.936h16.312c.561 0 1.124-.422 1.252-.936l.561-3.074c.126-.513-.142-.928-.632-1.449z"
    />
  </symbol>
  <symbol viewBox="0 0 32 32" id="vimeo">
    <title>vimeo</title>
    <path d="M31.988 8.563c-.144 3.113-2.319 7.381-6.525 12.794-4.35 5.65-8.031 8.481-11.044 8.481-1.863 0-3.444-1.719-4.731-5.163-.863-3.156-1.719-6.313-2.581-9.469-.956-3.444-1.981-5.162-3.081-5.162-.237 0-1.075.506-2.513 1.506L.007 9.612A391.952 391.952 0 0 0 4.676 5.45C6.782 3.631 8.364 2.675 9.42 2.575c2.487-.237 4.025 1.463 4.6 5.106.619 3.931 1.05 6.375 1.294 7.331.719 3.263 1.506 4.894 2.369 4.894.669 0 1.675-1.056 3.019-3.175 1.337-2.113 2.056-3.725 2.156-4.831.194-1.825-.525-2.744-2.156-2.744-.769 0-1.556.175-2.369.525 1.575-5.15 4.575-7.65 9.012-7.506 3.281.087 4.831 2.219 4.644 6.388z"
    />
  </symbol>
  <symbol viewBox="0 0 32 32" id="vimeo2">
    <title>vimeo2</title>
    <path d="M29 0H3C1.35 0 0 1.35 0 3v26c0 1.65 1.35 3 3 3h26c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3zm-2.075 10.625c-.1 2.25-1.675 5.331-4.719 9.244C19.062 23.956 16.4 26 14.225 26c-1.35 0-2.488-1.244-3.419-3.731-.625-2.281-1.244-4.563-1.869-6.844-.688-2.488-1.431-3.731-2.225-3.731-.175 0-.781.363-1.813 1.088l-1.087-1.4c1.144-1 2.269-2.006 3.375-3.006 1.525-1.313 2.662-2.006 3.425-2.075 1.8-.175 2.906 1.056 3.325 3.687.45 2.844.762 4.606.938 5.3.519 2.356 1.088 3.531 1.712 3.531.481 0 1.212-.762 2.181-2.294s1.488-2.694 1.556-3.494c.137-1.319-.381-1.981-1.556-1.981-.556 0-1.125.125-1.712.381 1.137-3.719 3.306-5.531 6.512-5.425 2.375.069 3.494 1.606 3.356 4.619z"
    />
  </symbol>
  <symbol viewBox="0 0 32 32" id="youtube">
    <title>youtube</title>
    <path d="M31.681 9.6s-.313-2.206-1.275-3.175C29.187 5.15 27.825 5.144 27.2 5.069c-4.475-.325-11.194-.325-11.194-.325h-.012s-6.719 0-11.194.325c-.625.075-1.987.081-3.206 1.356C.631 7.394.325 9.6.325 9.6s-.319 2.588-.319 5.181v2.425c0 2.587.319 5.181.319 5.181s.313 2.206 1.269 3.175c1.219 1.275 2.819 1.231 3.531 1.369 2.563.244 10.881.319 10.881.319s6.725-.012 11.2-.331c.625-.075 1.988-.081 3.206-1.356.962-.969 1.275-3.175 1.275-3.175s.319-2.587.319-5.181v-2.425c-.006-2.588-.325-5.181-.325-5.181zM12.694 20.15v-8.994l8.644 4.513-8.644 4.481z"
    />
  </symbol>
  <symbol viewBox="0 0 80 32" id="youtube2">
    <title>youtube2</title>
    <path d="M10.75 5.294a.449.449 0 0 0 .012-.056l.033-.236-1.48-.008c-1.337-.008-1.746 0-1.783.034-.018.016-.479 1.77-1.302 4.946-.392 1.515-.723 2.725-.734 2.689s-.481-1.766-1.044-3.843c-.563-2.078-1.034-3.789-1.048-3.803-.019-.019-1.812-.028-3.263-.016-.21.002-.327-.41 1.876 6.598.305.97.762 2.344 1.015 3.052.292.817.5 1.448.642 1.974.251 1.002.26 1.63.205 2.363-.063.847-.073 6.826-.011 6.926.047.077 2.851.112 3.116.04.042-.012.071-.053.09-.279.066-.194.071-.968.071-4.18v-4.103l.179-.566c.117-.37.413-1.344.656-2.163s.538-1.801.654-2.18c1.057-3.447 2.067-6.838 2.094-7.032l.022-.158zM26.441 10.27l-.001.214h-.033l-.019 5.906-.018 5.726-.458.467c-.513.522-.925.722-1.297.629-.405-.102-.395.056-.429-6.712l-.031-6.23h-2.947v.214h-.034v6.759c0 7.242 0 7.237.367 7.965.293.579.719.861 1.45.958.962.128 2-.308 2.962-1.244l.418-.407v.701c0 .606.017.706.127.737.18.05 2.412.053 2.653.004l.2-.041v-.207l.034-.007V10.23l-2.944.039zM18.965 13.323c-.279-1.198-.802-2.004-1.664-2.561-1.353-.875-2.897-.967-4.331-.259-1.045.516-1.717 1.372-2.065 2.628-.041.15-.072.275-.095.463-.088.443-.099 1.105-.122 4.186-.035 4.748.019 5.313.614 6.391.583 1.058 1.794 1.833 3.112 1.993.397.048 1.201-.027 1.663-.155 1.051-.291 2.058-1.122 2.504-2.065.192-.407.309-.691.379-1.208.13-.707.14-1.849.14-4.762 0-3.715-.012-4.121-.136-4.651zM15.604 23c-.247.188-.679.27-1.031.195-.271-.058-.636-.482-.748-.869-.14-.482-.151-7.187-.03-8.502.199-.658.756-1.002 1.364-.838.474.128.716.424.854 1.046.103.461.115 1.035.093 4.414-.014 2.241-.022 3.336-.096 3.924-.074.371-.197.47-.407.63zM71.887 16.692h1.424l-.023-1.29c-.022-1.183-.039-1.319-.198-1.64-.249-.507-.617-.731-1.201-.731-.701 0-1.146.339-1.356 1.036-.089.296-.183 2.334-.116 2.51.038.098.241.116 1.469.116zM62.369 13.757c-.19-.383-.543-.571-.954-.556-.319.011-.674.146-1.015.407l-.254.193v9.269l.254.193c.576.439 1.209.532 1.644.241.172-.115.285-.274.372-.527.114-.329.124-.75.109-4.649-.015-4.064-.024-4.303-.157-4.57z"
    />
    <path d="M80.027 9.582c-.284-3.401-.509-4.505-1.211-5.923-.929-1.878-2.272-2.868-4.184-3.086-1.478-.168-7.041-.405-12.189-.52-8.912-.198-23.564.183-25.436.662-.865.221-1.513.597-2.188 1.269-1.183 1.177-1.887 2.865-2.17 5.2-.647 5.331-.66 11.773-.037 17.297.268 2.376.82 3.92 1.857 5.192.647.794 1.761 1.469 2.758 1.67.7.141 4.201.337 9.3.521.76.027 2.771.074 4.47.105 3.541.063 10.051.026 13.772-.079 2.504-.07 7.069-.255 7.922-.321.24-.019.796-.054 1.236-.079 1.477-.083 2.417-.393 3.3-1.086 1.142-.897 2.027-2.556 2.4-4.501.354-1.84.59-5.118.638-8.839.04-3.109-.013-4.787-.238-7.482zM44.54 8.35l-1.656.02-.073 17.661-1.435.018c-1.11.015-1.447-.001-1.474-.073-.019-.051-.042-4.032-.052-8.849l-.018-8.758-3.234-.041v-2.76l9.557.039.041 2.721-1.656.02zm10.154 10.122v7.595h-2.616v-.799c0-.601-.023-.799-.093-.799-.051 0-.288.198-.527.441-.517.526-1.13.949-1.653 1.145-1.083.405-2.112.169-2.551-.586-.401-.691-.409-.845-.409-8.01v-6.58h2.614l.02 6.196c.019 6.088.022 6.2.168 6.448.193.329.488.417.956.288.276-.076.464-.21.911-.654l.563-.561V10.879h2.616v7.595zm10.205 6.51c-.23.513-.744 1.016-1.165 1.14-1.099.324-1.98.06-2.998-.897-.316-.297-.61-.538-.654-.538-.053 0-.082.233-.082.69v.69h-2.616V5.572H60v3.343c0 1.839.025 3.343.054 3.343s.306-.244.613-.541c.707-.683 1.298-.981 2.049-1.038 1.338-.101 2.135.587 2.501 2.16.114.491.125 1.051.125 5.596 0 5.537-.001 5.56-.443 6.546zm11.069-3.039c-.023.57-.092 1.223-.154 1.454-.364 1.349-1.332 2.304-2.732 2.696-1.885.527-3.96-.337-4.788-1.994-.465-.93-.481-1.116-.481-5.662 0-3.707.013-4.162.132-4.667.336-1.431 1.168-2.357 2.578-2.871a3.917 3.917 0 0 1 1.261-.234c1.521-.031 3.031.787 3.663 2.119.427.899.48 1.283.522 3.816l.039 2.271-5.578.039-.02 1.526c-.029 2.153.116 2.815.697 3.207.489.329 1.24.305 1.649-.055.383-.337.491-.698.529-1.753l.034-.927h2.694l-.043 1.036z"
    />
  </symbol>
</svg>
