<div class="is-sticky" datas-sticky="alben" data-sticky-offsetBottom="0">
  <div class="music-player">

    <img class="music-player__cover" src="http://placehold.it/200x200" />

    {% include 'components/music-player-controlls.twig' %}
  </div>
</div>
