<div class="music-player-controlls">

  <div class="music-player-controlls__buttons">
    <div class="music-player-controlls__prev">{% include 'components/icon.twig' with {type: 'controller-jump-to-start'} %}</div>
    <div class="music-player-controlls__playPause">
      <div class="music-player-controlls__play">{% include 'components/icon.twig' with {type: 'controller-play'} %}</div>
      <div class="music-player-controlls__paus">{% include 'components/icon.twig' with {type: 'controller-paus'} %}</div>
    </div>
    <div class="music-player-controlls__next">{% include 'components/icon.twig' with {type: 'controller-next'} %}</div>
  </div>

  <div class="music-player-controlls__timeline">
    <span class="timeline__bar"></span>
    <span class="timeline__start">0:00</span>
    <span class="timeline__end">0:00</span>
  </div>
</div>

