<div class="is-sticky" datas-sticky="alben" data-sticky-offsetBottom="0">
  <div class="music-player">

    <audio src="http://developer.mozilla.org/@api/deki/files/2926/=AudioTest_(1).ogg" controlls>
      Your browser does not support the <code>audio</code> element.
    </audio>
    <img class="controlls__cover" src="http://placehold.it/200x200" />

    <div class="music-player__controlls">

      <div class="controlls__buttons">
        <button class="controlls__prev"></button>
        <button class="controlls__play"></button>
        <button class="controlls__next"></button>
      </div>

      <div class="controlls__timeline">
        <span class="timeline__start">0:00</span>
        <span class="timeline__end">5:45</span>
      </div>
    </div>
  </div>
</div>
