{% set component = 'music-player' %}

<div class="is-sticky" datas-sticky="alben" data-sticky-offsetBottom="0">
  <div class="{{component}}">

    <img class="{{component}}__cover" src="http://placehold.it/200x200" />

    {% include 'components/' ~ component ~ '-controlls.twig' with { component: component ~ '-controlls'} %}
  </div>
</div>
