<!-- section #news -->
<section class="section">

  <div class="{{component}}">

    {% include 'components/navigation.twig' %}

    {% for post in posts %}

      {% include 'components/' ~ component ~ '-item.twig' %}

    {% endfor %}

  </div>

</section>
