<!-- section #Press -->
<section class="section">
  <h1 class="headline headline--section">Presse</h1>

  <div class="press">

    <nav class="sidenav press__nav">
      <ul class="sidenav-list">
        <li class="sidenav-list__item is-active" data-filter-nav="opera"><span data-color="red"></span>Oper</li>
        <li class="sidenav-list__item" data-filter-nav="song"><span data-color="gold"></span>Lied</li>
        <li class="sidenav-list__item" data-filter-nav="oratory"><span data-color="blue"></span>Oratorium</li>
        <li class="sidenav-list__item" data-filter-nav="*"><span data-color="all"></span>Alle</li>
      </ul>
    </nav>

    <div class="press__items">

    {% for item in press %}
      {% include 'components/press-item.twig' %}
    {% endfor %}

    </div>
  </div>

</section>
