<!-- section #Repertoire -->
<section class="section">
  <h1 class="headline headline--section">Repertoire</h1>

  {% for item in items %}

    {% if item.repertoire[0] %}


      <div class="repertoire">
        <aside class="repertoire__composer"><h2>{{ item.composer }}</h2></aside>

        <article class="repertoire__row">

          {% for work in item.repertoire %}

            {% include 'components/repertoire-work.twig' with {composer: item.composer} %}

          {% endfor %}

        </article>
      </div>

    {% endif %}

  {% endfor %}

</section>
