<section class="start-teaser has--gradient" style="background-image: url('{{ get_header_image().url }}');">

  <div class="start-teaser__box">
    <h1 class="start-teaser__headline headline">Opernsänger<br>Bass</h1>
    <ul class="start-teaser__dots">
      <li class="start-teaser__dot"></li>
      <li class="start-teaser__dot"></li>
      <li class="start-teaser__dot"></li>
    </ul>
  </div>

  <div class="start-teaser__mouse">
    {% include 'components/icon.twig' with {type: 'scroll-mouse'} %}
  </div>

</section>
