<figure class="univercity-posts__item">

  <figcaption class="univercity-posts__content">
    <h3 class="univercity-posts__headline">{{post.title}}</h3>
    <p class="univercity-posts__text">{{post.content}}</p>
    <a class="univercity-posts__link" href="">zum Artikel</a>
  </figcaption>

</figure>
