<!-- section #univercity -->
<section class="section">
  <h1 class="headline headline--section">{{ component.title }}</h1>

  <div class="univercity">


  </div>

  <div class="univercity-curriculum grid" data-grid="left">

  {% for row in curriculum %}
    <div class="grid__item" data-grid="2/12">
      <h4>{{ row.year }}</h4>
    </div>
    <div class="grid__item" data-grid="10/12">
      {{ row.text }}
    </div>
  {% endfor %}

  </div>
</section>
