<figure class="{{component}}-posts__item">

  <figcaption>
    <h3 class="text-news__headline">{{post.title}}</h3>
    <p class="text-news__text">{{post.content}}</p>
    <a class="text-news__link" href="">zum Artikel</a>
  </figcaption>

</figure>
