<!-- section #univercity -->
<section class="section">
  <h1 class="headline headline--section">{{ component.title }}</h1>
  <div class="univercity"
       data-filter='{
         "holder": ".univercity-posts",
         "item": ".univercity-posts__item",
         "column": ".univercity__grid-sizer",
         "gutter": ".univercity__gutter-sizer"
       }'>

    {% include 'components/univercity-filter.twig' %}

    <article class="university-content">

      <div class="univercity-posts">
        <div class="univercity__grid-sizer"></div>
        <div class="univercity__gutter-sizer"></div>

      {% for post in posts %}

        {% include 'components/univercity-post.twig' %}

      {% endfor %}

      </div>

      <div class="univercity-curriculum grid" data-grid="left">

      {% for row in curriculum %}
        <div class="grid__item" data-grid="2/12">
          <h4>{{ row.year }}</h4>
        </div>
        <div class="grid__item" data-grid="10/12">
          {{ row.text }}
        </div>
      {% endfor %}

      </div>

    </article>


  </div>
</section>
