<nav class="univercity-filter">
  <ul>
    <li class="univercity-filter__item is-active">Lehrtätigkeit</li>
    <li class="univercity-filter__item">Meisterklassen</li>
    <li class="univercity-filter__item">Opernstudio</li>
    <li class="univercity-filter__item">Jury</li>
  </ul>
</nav>
