@font-face {
    font-family: 'Neutra Text';
    font-style: normal;
    font-weight: 400;
    src: url(./NeutraText-Book.woff) format('woff');
}

@font-face {
    font-family: 'Neutra Text';
    font-style: italic;
    font-weight: 400;
    src: url(./NeutraText-BookItalic.woff) format('woff');
}

@font-face {
    font-family: 'Neutra Text';
    font-style: normal;
    font-weight: 700;
    src: url(./NeutraText-Bold.woff) format('woff');
}
