h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 0.9em;
}

.headline {
    font-weight: bold;
    text-transform: lowercase;
}

h1,
h1.headline {
    font-size: 3.6rem;
}

.headline--section {
    margin-bottom: 2em;
    &:after {
        content: '/';
        display: block;
    }
}
