.headline {
    font-weight: bold;
    text-transform: lowercase;
}

h1,
h1.headline {
    font-size: 3.6rem;
}

.headline--section {
    margin-bottom: 2em;
    &:after {
        content: '/';
        display: block;
    }
}
