$color-black: rgba(030, 030, 030, 100);
$color-white: rgba(255, 255, 255, 100);
$color-red:   rgba(200, 011, 076, 100);
$color-gold:  rgba(191, 170, 113, 100);
$color-blue:  rgba(093, 142, 189, 100);

$spacer: 1rem;

$font-family-main: 'Neutra Text', 'Helvetica', sans-serif;


$breakpoint-large: 1200px;
