body,
html {
    height: 100%;
    font-size: 20px;
    line-height: 1.5em;
    letter-spacing: 0.025em;
    font-family: $font-family-main;
    color: $color-black;
}

.root,
.footer__inner {
    max-width: 1200px;
    margin: 0 auto;
}

.full--width {
    width: 100%;
}
