.music-player-controlls {
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;

    @media(min-width: $breakpoint-medium) {
        padding-left: 4rem;
    }
}

.music-player-controlls__buttons {
    width: auto;
    padding-bottom: 0.6em;
    & > * {
        cursor: pointer;
        padding: 0 1em;
        display: flex;
        vertical-align: middle;
        transform: scale(0.8);
    }

    &:hover svg {
        opacity: 0.6;
    }

    svg {
        transition: opacity 200ms ease-out;
        width: 1em;
        height: 1em;
        fill: $icon-color;

    }
}

.music-player-controlls__playPause {
    padding: 0.2em;
    border-radius: 50%;
    border: 1px solid $icon-color;
    width: 1.5em;
    height: 1.5em;
}


.music-player-controlls__play,
.music-player-controlls__paus {
    position: relative;

    svg {
        position: absolute;
        top:50%;
        left: 0%;
        transform: translate(0%, -50%);
        width: 1.5em;
        height: 1.5em;

        use { transform: translateX(2px); }
    }
}

.music-player-controlls__paus {
    display: none;

    svg {
        padding: 0.4em;
        width: 1.2em;
        height: 1.2em;

        use { transform: translateX(-5px); }
    }
}
