.music-player {
    background-color: $background-color;
    bottom: 0;
    flex-direction: column;
    left: 0;
    margin-left: -2rem;
    padding: 2rem;
    z-index: 600;
    @media(min-width: $breakpoint-medium) {
        flex-direction: row;
    }
}

.music-player,
.music-player-controlls__buttons {
    align-items: flex-start;
    display: flex;
    width: 100%;
    @media(min-width: $breakpoint-medium) {
        align-items: center;
    }
}

.music-player-controlls__buttons {
    align-items: center;
    flex-direction: row;
}

.music-player-controlls {
    justify-content: space-around;
}

.music-player__image {
    display: none;
    height: 5rem;
    position: relative;
    width: 5rem;

    @media(min-width: $breakpoint-medium) {
        display: block;
    }
}

.music-player__cover {
    height: 100%;
}

.music-player__information {
    color: $font-color;
    font-weight: 300;
    padding-bottom: $spacer;

    @media(min-width: $breakpoint-medium) {
        padding-bottom: 0;
        width: 20%;
        padding-left: 2rem;
    }
}

.music-player__title,
.music-player__meta {
    font-weight: 300;
}

.music-player__title {
    color: darken($color-white, 10%);
    font-size: 0.9rem;
    padding-bottom: 0.5em;
}

.music-player__meta {
    font-size: 0.6rem;
}


.music-player__heart {
    bottom: 1.3em;
    position: absolute;
    right: 1.3em;

    svg {
        cursor: pointer;
        position: absolute;
    }
}
