.music-player {
    bottom: 0;
    left: 0;
    background-color: $background-color;
}

.music-player,
.music-player-controlls__buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.music-player-controlls {
    justify-content: space-around;
}

.music-player__cover {
    height: 5rem;
    width: 5rem;
}

.music-player__information {
    width: 20%;
    padding-left: 2rem;
    font-weight: 300;
    color: $font-color;
}

.music-player__title,
.music-player__meta {
    font-weight: 300;
}

.music-player__title {
    font-size: 0.9rem;
    padding-bottom: 0.5em;
    color: darken($color-white, 10%);
}

.music-player__meta {
    font-size: 0.6rem;
}
